@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


*{
  font-family: Outfit;
}

:root {
  --primary-color: #5F6FFF;
}

.bg-primary {
  background-color: var(--primary-color);
  
}


.active hr{
    @apply block
}

::-webkit-scrollbar{
  @apply hidden
}

@media (max-width:740px){
  .active p{
    @apply text-white bg-[#5F6FFF]
  }

}